---
cert_domain: "{{ ca_domain }}"
cert_org: "{{ cert_org }}"
cert_org_unit: "{{ cert_org_unit }}"
cert_country: "{{ cert_country }}"
cert_state: "{{ cert_state  }}"
cert_locality: "{{ cert_locality }}"
cert_duration: 825

cert_servers: [ "{{ cert_server_fqdn }}" ]
cert_ips: [ "{{ cert_ip }}" ]

cert_server: true
cert_client: false
